<% 
    // noinspection JSUnresolvedVariable
    var options = htmlWebpackPlugin.options
%><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title>Guess CSS! HTML & CSS puzzler game</title>
    <meta name="description" content="You are given a small frame, its HTML source and 3 CSS snippets. Guess which of them was used to style the frame, challenge your knowledge!"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script><%= options.SCRIPT_PLACEHOLDER %></script>
    <style id="<%= options.STYLE_ID %>"><%= options.STYLE_PLACEHOLDER %></style>
</head>
<body>
    <div id="<%= options.ROOT_EL_ID %>"><%= options.APP_PLACEHOLDER %></div>
</body>
</html>
